body { 
 font-family: Arial, Geneva, Helvetica, sans-serif; 
 color: #000000; 
}

h1, h2, h3 {
  color: #000000; /* Цвет заголовка */
  font-family: Arial, Geneva, Helvetica, sans-serif; /* Семейство шрифтов */
  font-weight: bold; 
}

.iksweb {
 display: inline-block;
 cursor: pointer; 
 font-size:16px;
 text-decoration:none;
 padding:10px 20px; 
 color:#000000;
 background:#3c6380;
 border-radius:5px;
 border:0px solid #354251;
}

.iksweb:hover {
 background:#5599c9;
 color:#ffffff;
 border:0px solid #ffffff;
 transition: all 0.2s ease;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table th {
    font-weight: 600;
}

td, th {
    padding: 0;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.falling {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url("/upload/sparticles/photo-bg.jpg");
    background-size: cover;
    background-position: center center;
    margin: 10px 0 20px 0;
}
.falling canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: color-dodge;
}
.falling h2 {
    padding: 40px;
    background: rgba(255,255,255,0.3);
    position: relative;
    z-index: 2;
}
